*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
*~
/resources/private/
/.nb-gradle/
